<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script type="text/javascript" src="../js/header.js"></script>
<div>
    <div id="left" style="width: 50%;float:left;">
<form action="saveASNinsert.html" method="get">
        <div class="col-md-12 " style="margin:10px 0px 20px;">
            <div class="form-group">
                <label class="col-sm-4 control-label "  style="font-size: 20px">单据号：</label>
                <div class="col-sm-4">
                    <input type="text" name="documentNo" class="form-control" placeholder="请输入单据号">
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin:10px 0px 20px;">
            <div class="form-group" >
                <label class="col-sm-4 control-label " style="font-size: 20px">生成单日期:</label>
                <div class="col-sm-4">
                    <input type="date" name="createTime" class="form-control"  placeholder="请输入生成ASN单日期">
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin:10px 0px 20px;">
            <div class="form-group" >
                <label class="col-sm-4 control-label " style="font-size: 20px">预计发货时间:</label>
                <div class="col-sm-4">
                    <input type="date" name="deliveryTime" class="form-control"  placeholder="请输入预计发货时间">
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin:10px 0px 20px;">
            <div class="form-group" >
                <label class="col-sm-4 control-label " style="font-size: 20px">预计到货时间:</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control"  name="arrivalTime" placeholder="请输入预计到货时间">
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin:10px 0px 20px;">
            <div class="form-group" >
                <label class="col-sm-4 control-label " style="font-size: 20px">供应商编号:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control"  name="supId"   placeholder="请输入供应商编号">
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin:10px 0px 20px;">
            <div class="form-group" >
                <label class="col-sm-4 control-label " style="font-size: 20px">部门:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="depId"  placeholder="请输入部门">
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin:10px 0px 20px;">
            <div class="form-group" >
                <label class="col-sm-4 control-label " style="font-size: 20px">业务员:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control"  name="staId" placeholder="业务员">
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin:10px 0px 20px;">
            <div class="form-group" >
                <label class="col-sm-4 control-label " style="font-size: 20px">运输方式:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control"  name="transportType" placeholder="请输入运输方式">
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin:10px 0px 20px;">
            <div class="form-group" >
                <label class="col-sm-4 control-label " style="font-size: 20px">到货地址:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="arrivalAddress" placeholder="请输入到货地址">
                </div>
            </div>
        </div>



    </div>
    <div id="right" style="float:left;width: 50%;">
        <div class="col-md-12" style="margin:10px 0px 20px;">
            <div class="form-group" >
                <label class="col-sm-4 control-label " style="font-size: 20px">备注说明:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control"  name="remarks" placeholder="请输入备注说明">
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin:10px 0px 20px;">
            <div class="form-group" >
                <label class="col-sm-4 control-label " style="font-size: 20px">存货编码:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="inventoryCode"  placeholder="请输入存货编码">
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin:10px 0px 20px;">
            <div class="form-group" >
                <label class="col-sm-4 control-label " style="font-size: 20px">存货名称:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control"  name="inventoryName"  placeholder="请输入存货名称">
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin:10px 0px 20px;">
            <div class="form-group" >
                <label class="col-sm-4 control-label " style="font-size: 20px">规格型号:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="specificationType"  placeholder="请输入规格型号">
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin:10px 0px 20px;">
            <div class="form-group" >
                <label class="col-sm-4 control-label " style="font-size: 20px">计量单位:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control"  name="unit" placeholder="请输入计量单位">
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin:10px 0px 20px;">
            <div class="form-group" >
                <label class="col-sm-4 control-label " style="font-size: 20px">订单总数量:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control"  name="orderQuantity" placeholder="请输入订单总数量">
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin:10px 0px 20px;">
            <div class="form-group" >
                <label class="col-sm-4 control-label " style="font-size: 20px">累计到货数量:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control"  name="arriveNum" placeholder="请输入累计到货数量">
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin:10px 0px 20px;">
            <div class="form-group" >
                <label class="col-sm-4 control-label " style="font-size: 20px">未到货数量:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control"  name="unArriveNum" placeholder="请输入未到货数量">
                </div>
            </div>
        </div>

        <div class="col-md-12" style="margin:10px 0px 20px;">
            <div class="form-group" >
                <label class="col-sm-4 control-label " style="font-size: 20px">待发货数量:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="waitSendNum"  placeholder="请输入待发货数量">
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin:10px 0px 20px;">
            <div class="form-group" >
                <label class="col-sm-4 control-label " style="font-size: 20px">包装数量:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control"  name="packgingNum"  placeholder="请输入包装数量">
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-2"><input type="submit" class="form-control" value="保存"></div>
    <div class="col-sm-2"> <input type="reset" class="form-control" value="重置"></div>
    </form>
</div>

<script type="text/javascript" src="../js/footer.js"></script>
</body>
</html>