<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>WMS系统-首页</title>

    <script type="text/javascript">
        //<![CDATA[
        try {
            if (!window.CloudFlare) {
                var CloudFlare = [{
                    verbose: 0,
                    p: 1419364062,
                    byc: 0,
                    owlid: "cf",
                    bag2: 1,
                    mirage2: 0,
                    oracle: 0,
                    paths: {cloudflare: "/cdn-cgi/nexp/dok2v=1613a3a185/"},
                    atok: "1fca8a26fb9678bbb4b5c54c34e227b9",
                    petok: "4ca96b72a62631073dd6873922c67f1bf6e51b65-1420553914-1800",
                    zone: "adbee.technology",
                    rocket: "0",
                    apps: {"ga_key": {"ua": "UA-49262924-2", "ga_bs": "2"}}
                }];
                !function (a, b) {
                    a = document.createElement("script"), b = document.getElementsByTagName("script")[0], a.async = !0, a.src = "http://ajax.cloudflare.com/cdn-cgi/nexp/dok2v=919620257c/cloudflare.min.js", b.parentNode.insertBefore(a, b)
                }()
            }
        } catch (e) {
        }
        ;
        //]]>
    </script>
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap/bootstrap.min.css"/>

    <script src="/js/demo-rtl.js"></script>


    <link rel="stylesheet" type="text/css" href="../../static/css/libs/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/libs/nanoscroller.css"/>

    <link rel="stylesheet" type="text/css" href="../../static/css/compiled/theme_styles.css"/>

    <link rel="stylesheet" href="../../static/css/libs/fullcalendar.css" type="text/css"/>
    <link rel="stylesheet" href="../css/libs/fullcalendar.print.css" type="text/css" media="print"/>
    <link rel="stylesheet" href="../../static/css/compiled/calendar.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../../static/css/libs/morris.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/libs/daterangepicker.css" type="text/css"/>
    <link rel="stylesheet" href="../css/libs/jquery-jvectormap-1.2.2.css" type="text/css"/>

    <link type="image/x-icon" href="../../static/img/favicon.png" rel="shortcut icon"/>

    <link href='http://fonts.useso.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet'
          type='text/css'>
    <!--[if lt IE 9]>
    <script src="../../static/js/html5shiv.js"></script>
    <script src="../../static/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        (function (b) {
            (function (a) {
                "__CF" in b && "DJS" in b.__CF ? b.__CF.DJS.push(a) : "addEventListener" in b ? b.addEventListener("load", a, !1) : b.attachEvent("onload", a)
            })(function () {
                "FB" in b && "Event" in FB && "subscribe" in FB.Event && (FB.Event.subscribe("edge.create", function (a) {
                    _gaq.push(["_trackSocial", "facebook", "like", a])
                }), FB.Event.subscribe("edge.remove", function (a) {
                    _gaq.push(["_trackSocial", "facebook", "unlike", a])
                }), FB.Event.subscribe("message.send", function (a) {
                    _gaq.push(["_trackSocial", "facebook", "send", a])
                }));
                "twttr" in b && "events" in twttr && "bind" in twttr.events && twttr.events.bind("tweet", function (a) {
                    if (a) {
                        var b;
                        if (a.target && a.target.nodeName == "IFRAME")a:{
                            if (a = a.target.src) {
                                a = a.split("#")[0].match(/[^?=&]+=([^&]*)?/g);
                                b = 0;
                                for (var c; c = a[b]; ++b)if (c.indexOf("url") === 0) {
                                    b = unescape(c.split("=")[1]);
                                    break a
                                }
                            }
                            b = void 0
                        }
                        _gaq.push(["_trackSocial", "twitter", "tweet", b])
                    }
                })
            })
        })(window);
        /* ]]> */
    </script>
</head>
<body>
<div id="theme-wrapper">
    <header class="navbar" id="header-navbar">
        <div class="container">
            <a href="index.html" id="logo" class="navbar-brand">
                <img src="../../static/img/logo.png" alt="" class="normal-logo logo-white"/>
                <img src="../../static/img/logo-black.png" alt="" class="normal-logo logo-black"/>
                <img src="../../static/img/logo-small.png" alt="" class="small-logo hidden-xs hidden-sm hidden"/>
            </a>
            <div class="clearfix">
                <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
                    <ul class="nav navbar-nav pull-left">
                        <li>
                            <a class="btn" id="make-small-nav">
                                <i class="fa fa-bars"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav-no-collapse pull-right" id="header-nav">
                    <ul class="nav navbar-nav pull-right">
                        <li class="mobile-search">
                            <a class="btn" title="搜索">
                                <i class="fa fa-search"></i>
                            </a>
                            <div class="drowdown-search">
                                <form role="search">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <i class="fa fa-search nav-search-icon"></i>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="dropdown hidden-xs">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" title="紧急处理">
                                <i class="fa fa-warning"></i>
                                <span class="count">8</span>
                            </a>
                            <ul class="dropdown-menu notifications-list">
                                <li class="pointer">
                                    <div class="pointer-inner">
                                        <div class="arrow"></div>
                                    </div>
                                </li>
                                <li class="item-header">You have 6 new notifications</li>
                                <li class="item">
                                    <a href="#">
                                        <i class="fa fa-comment"></i>
                                        <span class="content">New comment on ‘Awesome P...</span>
                                        <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#">
                                        <i class="fa fa-plus"></i>
                                        <span class="content">New user registration</span>
                                        <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#">
                                        <i class="fa fa-envelope"></i>
                                        <span class="content">New Message from George</span>
                                        <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span class="content">New purchase</span>
                                        <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#">
                                        <i class="fa fa-eye"></i>
                                        <span class="content">New order</span>
                                        <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                    </a>
                                </li>
                                <li class="item-footer">
                                    <a href="#">
                                        View all notifications
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown hidden-xs">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" title="待处理">
                                <i class="fa fa-envelope-o"></i>
                                <span class="count">16</span>
                            </a>
                            <ul class="dropdown-menu notifications-list messages-list">
                                <li class="pointer">
                                    <div class="pointer-inner">
                                        <div class="arrow"></div>
                                    </div>
                                </li>
                                <li class="item first-item">
                                    <a href="#">
                                        <img src="../../static/img/samples/messages-photo-1.png" alt=""/>
<span class="content">
<span class="content-headline">
George Clooney
</span>
<span class="content-text">
Look, just because I don't be givin' no man a foot massage don't make it
right for Marsellus to throw...
</span>
</span>
                                        <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#">
                                        <img src="../../static/img/samples/messages-photo-2.png" alt=""/>
<span class="content">
<span class="content-headline">
Emma Watson
</span>
<span class="content-text">
Look, just because I don't be givin' no man a foot massage don't make it
right for Marsellus to throw...
</span>
</span>
                                        <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#">
                                        <img src="../../static/img/samples/messages-photo-3.png" alt=""/>
<span class="content">
<span class="content-headline">
Robert Downey Jr.
</span>
<span class="content-text">
Look, just because I don't be givin' no man a foot massage don't make it
right for Marsellus to throw...
</span>
</span>
                                        <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                    </a>
                                </li>
                                <li class="item-footer">
                                    <a href="#">
                                        View all messages
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="hidden-xs">
                            <a class="btn">
                                <i class="fa fa-cog"></i>
                            </a>
                        </li>
                        <li class="dropdown profile-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="../../static/img/samples/scarlet-159.png" alt=""/>
                                <span class="hidden-xs">系统管理员</span> <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="user-profile.html"><i class="fa fa-user"></i>账户信息</a></li>
                                <li><a href="#"><i class="fa fa-cog"></i>基本设置</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>未读消息</a></li>
                                <li><a href="/user/logout"><i class="fa fa-power-off"></i>退出系统</a></li>
                            </ul>
                        </li>
                        <li class="hidden-xxs">
                            <a href="/user/logout" class="btn" title="退出系统">
                                <i class="fa fa-power-off"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        <div id="user-left-box" class="clearfix hidden-sm hidden-xs">
                            <img alt="" src="../../static/img/samples/scarlet-159.png"/>
                            <div class="user-box">
<span class="name">
欢迎您!<br/>
    <!--Admin-->
    <span th:text="${user.userName}"></span>
</span>
<span class="status">
<i class="fa fa-circle"></i> Online
</span>
                            </div>
                        </div>
                        <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-group"></i>
                                        <span>系统管理</span>
                                        <i class="fa fa-chevron-circle-right drop-icon"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="email-inbox.html">
                                                <i class="fa fa-circle-thin"></i> 角色管理
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/user/userList">
                                                <i class="fa fa-circle-thin"></i> 用户管理
                                            </a>
                                        </li>
                                        <li>
                                            <a href="email-compose.html">
                                                <i class="fa fa-circle-thin"></i> 权限配置
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-tasks"></i>
                                        <span>基础信息</span>
                                        <i class="fa fa-chevron-circle-right drop-icon"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="ui-elements.html">
                                                <i class="fa fa-circle-thin"></i> 单位组织结构
                                            </a>
                                        </li>
                                        <li>
                                            <a href="video.html">
                                                <i class="fa fa-circle-thin"></i> 人员档案信息
                                            </a>
                                        </li>
                                        <li>
                                            <a href="video.html">
                                                <i class="fa fa-circle-thin"></i> 客户档案信息
                                            </a>
                                        </li>
                                        <li>
                                            <a href="typography.html">
                                                <i class="fa fa-circle-thin"></i> 供商档案信息
                                            </a>
                                        </li>
                                        <li>
                                            <a href="modals.html">
                                                <i class="fa fa-circle-thin"></i> 外商档案信息
                                            </a>
                                        </li>

                                        <li>
                                            <a href="notifications.html">
                                                <i class="fa fa-circle-thin"></i> 库房档案信息
                                            </a>
                                        </li>
                                        <li>
                                            <a href="modals.html">
                                                <i class="fa fa-circle-thin"></i> 货位档案信息
                                            </a>
                                        </li>
                                        <li>
                                            <a href="video.html">
                                                <i class="fa fa-circle-thin"></i> 存货档案信息
                                            </a>
                                        </li>

                                        <li>
                                            <a href="ui-nestable.html">
                                                <i class="fa fa-circle-thin"></i> 托盘档案信息
                                            </a>
                                        </li>
                                        <li>
                                            <a href="typography.html">
                                                <i class="fa fa-circle-thin"></i> 产线档案信息
                                            </a>
                                        </li>

                                        <li>
                                            <a href="modals.html">
                                                <i class="fa fa-circle-thin"></i> 条码标签设计
                                            </a>
                                        </li>
                                        <li>
                                            <a href="video.html">
                                                <i class="fa fa-circle-thin"></i> 终端设备管理
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-cubes"></i>
                                        <span>原料管理</span>
                                        <i class="fa fa-chevron-circle-right drop-icon"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="email-inbox.html">
                                                <i class="fa fa-circle-thin"></i> 原料收货
                                            </a>
                                        </li>
                                        <li>
                                            <a href="email-detail.html">
                                                <i class="fa fa-circle-thin"></i> 原料入库
                                            </a>
                                        </li>
                                        <li>
                                            <a href="email-compose.html">
                                                <i class="fa fa-circle-thin"></i> 库内操作
                                            </a>
                                        </li>
                                        <li>
                                            <a href="email-compose.html">
                                                <i class="fa fa-circle-thin"></i> 原料出库
                                            </a>
                                        </li>
                                        <li>
                                            <a href="email-compose.html">
                                                <i class="fa fa-circle-thin"></i> 原料配送
                                            </a>
                                        </li>
                                        <li>
                                            <a href="email-compose.html">
                                                <i class="fa fa-circle-thin"></i> 原料退库
                                            </a>
                                        </li>
                                        <li>
                                            <a href="email-compose.html">
                                                <i class="fa fa-circle-thin"></i> 原料移库
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-inbox"></i>
                                        <span>成品管理</span>
                                        <i class="fa fa-chevron-circle-right drop-icon"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="graphs-morris.html">
                                                <i class="fa fa-circle-thin"></i> 成品入库
                                            </a>
                                        </li>
                                        <li>
                                            <a href="graphs-flot.html">
                                                <i class="fa fa-circle-thin"></i> 库内操作
                                            </a>
                                        </li>
                                        <li>
                                            <a href="graphs-dygraphs.html">
                                                <i class="fa fa-circle-thin"></i> 成品出库
                                            </a>
                                        </li>
                                        <li>
                                            <a href="graphs-xcharts.html">
                                                <i class="fa fa-circle-thin"></i> 成品退库
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-crosshairs"></i>
                                        <span>质检管理</span>
                                        <i class="fa fa-chevron-circle-right drop-icon"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="calendar.html">
                                                <i class="fa fa-circle-thin"></i> 来料检验
                                            </a>
                                        </li>
                                        <li>
                                            <a href="gallery.html">
                                                <i class="fa fa-circle-thin"></i> 库内检验
                                            </a>
                                        </li>
                                        <li>
                                            <a href="gallery-v2.html">
                                                <i class="fa fa-circle-thin"></i> 生产检验
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pricing.html">
                                                <i class="fa fa-circle-thin"></i> 成品检验
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-exclamation-circle"></i>
                                        <span>次品管理</span>
                                        <i class="fa fa-chevron-circle-right drop-icon"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="form-elements.html">
                                                <i class="fa fa-circle-thin"></i> 次品报检单
                                            </a>
                                        </li>
                                        <li>
                                            <a href="x-editable.html">
                                                <i class="fa fa-circle-thin"></i> 次品入库
                                            </a>
                                        </li>
                                        <li>
                                            <a href="form-wizard.html">
                                                <i class="fa fa-circle-thin"></i> 次品出库
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-gears"></i>
                                        <span>生产管理</span>
                                        <i class="fa fa-chevron-circle-right drop-icon"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="ui-elements.html">
                                                <i class="fa fa-circle-thin"></i> 生产领料
                                            </a>
                                        </li>
                                        <li>
                                            <a href="notifications.html">
                                                <i class="fa fa-circle-thin"></i> 生产退料
                                            </a>
                                        </li>
                                        <li>
                                            <a href="modals.html">
                                                <i class="fa fa-circle-thin"></i> 异常物料
                                            </a>
                                        </li>
                                        <li>
                                            <a href="video.html">
                                                <i class="fa fa-circle-thin"></i> 成品下线
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-money"></i>
                                        <span>资产管理</span>
                                        <i class="fa fa-chevron-circle-right drop-icon"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="faq.html">
                                                <i class="fa fa-circle-thin"></i> 资产验收
                                            </a>
                                        </li>
                                        <li>
                                            <a href="emails.html">
                                                <i class="fa fa-circle-thin"></i> 资产借出
                                            </a>
                                        </li>
                                        <li>
                                            <a href="userLogin.html">
                                                <i class="fa fa-circle-thin"></i> 资产归还
                                            </a>
                                        </li>
                                        <li>
                                            <a href="login-full.html">
                                                <i class="fa fa-circle-thin"></i> 资产维修
                                            </a>
                                        </li>
                                        <li>
                                            <a href="registration.html">
                                                <i class="fa fa-circle-thin"></i> 资产变更
                                            </a>
                                        </li>
                                        <li>
                                            <a href="registration-full.html">
                                                <i class="fa fa-circle-thin"></i> 资产保养
                                            </a>
                                        </li>
                                        <li>
                                            <a href="forgot-password.html">
                                                <i class="fa fa-circle-thin"></i> 资产盘点
                                            </a>
                                        </li>
                                        <li>
                                            <a href="forgot-password-full.html">
                                                <i class="fa fa-circle-thin"></i> 资产报废
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-hospital-o"></i>
                                        <span>统计报表</span>
                                        <i class="fa fa-chevron-circle-right drop-icon"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="tables.html">
                                                <i class="fa fa-circle-thin"></i> 仓库统计报表
                                            </a>
                                        </li>
                                        <li>
                                            <a href="tables-advanced.html">
                                                <i class="fa fa-circle-thin"></i> 资产管理报表
                                            </a>
                                        </li>
                                        <li>
                                            <a href="users.html">
                                                <i class="fa fa-circle-thin"></i> 生产管理报表
                                            </a>
                                        </li>
                                        <li>
                                            <a href="users.html">
                                                <i class="fa fa-circle-thin"></i> 质检管理报表
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <ol class="breadcrumb">
                                    <li><a href="#">首页</a></li>
                                    <li class="active"><span>欢迎使用仓库管理系统!</span></li>
                                </ol>
                                <h1>系统首页</h1>
                            </div>
                        </div>